HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### QueryDSL ###
moodoodle-domain/src/main/generated/

### submodule ###
moodoodle-api/src/main/resources/*.yml
moodoodle-batch/src/main/resources/*.yml
moodoodle-common/src/main/resources/*.yml
moodoodle-domain/src/main/resources/*.yml
moodoodle-infrastructure/src/main/resources/*.yml
moodoodle-notification/src/main/resources/*.yml